@using Microsoft.AspNetCore.Identity
@using GestaoAcordos.Data

@inject SignInManager<ApplicationUser> SignInManager

<nav class="account-nav" aria-label="Navegação da conta">
    <NavLink class="account-nav-link" href="Account/Manage" Match="NavLinkMatch.All">
        <i class="bi bi-person-circle"></i><span>Dados pessoais</span>
    </NavLink>
    <NavLink class="account-nav-link" href="Account/Manage/ChangePassword">
        <i class="bi bi-key"></i><span>Alterar senha</span>
    </NavLink>
</nav>
