@page "/Account/ResetPasswordConfirmation"
<PageTitle>Senha redefinida</PageTitle>

<div class="row justify-content-center">
    <div class="col-md-6 col-lg-5 text-center">
        <h1 class="h3 mb-3">Senha redefinida</h1>
        <p role="alert">Sua senha foi alterada com sucesso.</p>
        <a class="btn btn-primary" href="Account/Login"><i class="bi bi-box-arrow-in-right"></i> Entrar</a>
    </div>
</div>
